.main__elige--op2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:  0.5fr 0.5fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 20px;
  grid-auto-flow: row;
  grid-template-areas:
    "img img"
    "glosario texto"
    "glosario botones";
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  @include fuenteGeneral;

  .glosario--op2 {
    @include glosario;


    .glosario__estructura--op2 {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .glosario__div--op2 {
        margin-top: 15rem;

        @include fuenteGeneral; 
        
        .resaltador {
          font-family: $fuenteTitulos
        }

        .definicion__glosario{
          @include definicionGlosario(x-large, 50px)
        }

      }
    }
  }

  .img__elige--op2 {
    grid-area: img;

    .img__elige--img2 {
      width: 98.8vw;
      height: 35rem;
    }
  }

  .div__elige--op2 {
    padding-bottom: 6rem;
    grid-area: botones;

    .botonera__elige--op2 {
      display: flex;
      flex-direction: column;

      .boton__elige {
        @include botonElige(30vw)
      }
    }
  }

}

@media (max-width: 768px) {
  .main__elige--op2 {
    grid-template-columns: 5fr;
    grid-template-rows: 0.4fr 0.4fr 0.5fr 1fr;
    gap: 50px 0px;
    grid-template-areas:
      "img"
      "texto"
      "glosario"
      "botones";
    align-content: flex-start;


.texto__elige--op2{
  font-size: 1.2rem;
}

    .img__elige--op2 {
      .img__elige--img2 {
        width: 100vw;
        height: 25rem;
      }
    }

    .glosario--op2 {
      width: 100vw;
      padding-bottom: 2rem;

      .glosario__estructura--op2 {
        display: flex;
        flex-direction: row;

        .glosario__div--op2 {
          margin-top: 2rem;

          .resaltador{
            font-size: 1.5rem;
          }

          .definicion__glosario{
            @include definicionGlosario(large, 10px);
          }
        }
      }
    }

    .div__elige--op2 {
      padding-bottom: 0rem;
      .botonera__elige--op2 {
  
        .boton__elige {
          @include botonElige(80vw);
          margin: 0.1rem
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .main__elige--op2 {
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 0.2fr 0.2fr 1fr;
    gap: 50px 0px;
    grid-template-areas:
      "img"
      "glosario"
      "texto"
      "glosario"
      "botones";
    justify-content: stretch;
    align-items: stretch;
.glosario--op2{
    .glosario__estructura--op2 {
      font-size: medium;
      .glosario__div--op2 {
        margin-top: 2rem;

        .resaltador{
          font-size: medium;
        }

        .definicion__glosario{
          @include definicionGlosario(small, 2px)
        }
      }
    }
  }
  .texto__elige--op2{
    font-size: medium;
    padding-left: 1rem;
  }
  
  .img__elige--op2 {
    .img__elige--img2 {
      height: 13rem;
    }
  }
  
  .div__elige--op2 {
    .botonera__elige--op2 {
      margin-bottom: 2rem;
  
      .boton__elige {
        width: 60vw;
        margin-left: 0.2rem;
      }
    }
  
  }
}


  }
