.main__elige--op4 {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 0.5fr 0.5fr;
  gap: 0px 0px;
  grid-template-areas:
    "glosario img"
    "glosario texto"
    "glosario botones";
  justify-content: stretch;
  align-items: stretch;
  align-content: stretch;
  @include fuenteGeneral;

  .glosario--op4 {
 @include glosario;

    .elige__glosario--titulo {
      font-size: xx-large;
      margin-top: 4rem;
    }

    .glosario__estructura {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      font-size: larger;
      padding-bottom: 5rem;

      .glosario__div {
        margin-top: 10rem;
      }
    }
  }

  .img__elige--op4 {
    width: 0rem;
    padding-left: 5rem;

    .img__elige--img4 {
      width: 70vw;
    }
  }



  .div__elige--op4 {
    grid-area: botones;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .botonera__elige--op4 {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;

      .boton__elige {
        text-align: center;
        width: 30rem;
        height: 20vh;
        margin: 0.8rem;
      }
    }
  }

  .texto__elige--op4 {
    padding-left: 5rem;
  }
}

@media (max-width: 768px) {
  .main__elige--op4 {
    grid-template-columns: 5fr;
    grid-template-rows: 0.4fr 0.2fr 0.5fr 0.4fr;
    gap: 30px 0px;
    grid-template-areas:
      "img"
      "texto"
      "glosario"
      "botones";

    .img__elige--op4 {
      padding-left: 0;

      .img__elige--img4 {
        width: 100vw;
      }
    }

    .texto__elige--op4 {
      font-size: 1.4rem;
    }

    .glosario--op4 {

      .elige__glosario--titulo {
        margin-top: 0;
      }

      .glosario__estructura {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        font-size: medium;
        padding: 0 15px;

        .glosario__div {
          margin-top: 2rem;
        }
      }
    }

    .div__elige--op4 {
      align-self: center;

      .botonera__elige--op4 {
        flex-wrap: wrap;
        margin-bottom: 4rem;
        width: 100vw;

        .boton__elige {
          margin: 0.8 0rem;
          width: 50vw;
          height: 20vh;

        }
      }
    }
  }
}

@media (max-width: 480px) {
  .main__elige--op4 {
    grid-template-rows: 0.3fr 0.1fr 0.3fr 1fr;
    gap: 25px 0px;

    .glosario--op4 {
      .glosario--op4 p {
        padding: 0 2rem;
      }

      .glosario p {
        padding: 0 2rem;
        padding-bottom: 1rem;
      }

      .elige__glosario--titulo {
        font-size: x-large;
        margin-top: 1rem;
      }

      .glosario__estructura {
        font-size: small;

        .glosario__estructura div {
          margin-top: 0;
        }
      }
    }

    .texto__elige--op4 {
      font-size: 1rem;
      padding: 0 0rem;

      .texto__elige--op4 p {
        padding: 0 1rem;
        text-align: center;
      }
    }

    .img__elige--op4 {
      width: 0rem;
      padding-left: 0rem;

      .img__elige--img4 {
        padding-left: 0rem;
      }
    }

    .div__elige--op4 {
      .botonera__elige--op4 {
        margin-left: 0rem;
      }
    }
  }
}