.footer {
  background-color: $naranjaClaro;


 .titulos__footer{
   font-family: $fuenteTitulos;
 }

 .encontranos__footer{
   @include fuenteGeneral
 }
 
 .bi:hover{
  color: $naranjaOscuro;
 }

.secciones__titulos{
  font-family: $fuenteTitulos;
  color: $naranjaOscuro;
}

.secciones__links{
  @include fuenteGeneral;
}


.secciones__links:hover{
  color: $naranjaOscuro;
}

}