.header__bootstrap {
  background-color: $naranjaClaro;

  .navbar-nav {
    font-family: $fuenteTitulos;
  }
}

.header {
  background-color: $naranjaClaro;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header nav {
    font-size: 1.4rem;
    padding-right: 1rem;
  }

}


@media (max-width: 768px) {
  .header {
    flex-direction: column;
    padding-left: 0vw;
    height: 12rem;

    .header nav {
      font-size: 3vw;
      padding-right: 0rem;
    }
  }
}

@media (max-width: 480px) {
  .header {
    height: 9rem;
  }

  .logo {
    width: 4rem;
    padding-top: 1rem;
  }
}