.portada {
  display: grid;
  grid-template-columns: 0.1fr 1.4fr 1.6fr 1.4fr 0.1fr;
  grid-template-rows: 0.1fr 1.6fr 1.2fr 1.6fr 0.1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "borde-superior borde-superior borde-superior borde-superior der-borde"
    "izq-borde izq-arriba izq-arriba der-arriba der-borde"
    "izq-borde izq-abajo centro der-arriba der-borde"
    "izq-borde izq-abajo der-abajo der-abajo der-borde"
    "izq-borde borde-inferior borde-inferior borde-inferior borde-inferior";
  width: 100%;
  height: 100vh;



  .izq-arriba {
    grid-area: izq-arriba;
    @extend %elementosPortada;

    &:hover {
      @include hoverPortada (1.1, 20px, 2rem, 0.5s, 3rem)
    }
  }

  .der-arriba {
    grid-area: der-arriba;
    @extend %elementosPortada;

    &:hover {
      @include hoverPortada (1.1, -10px, 5rem, 0.5s, 3rem);
    }
  }

  .centro {
    grid-area: centro;
    border: solid 2px;

    &:hover {
      transform: scale(1.1);
      transition-duration: 0.3s;
    }

    .logo__portada {
      width: 100%;
      height: 100%;
    }
  }

  .izq-abajo {
    grid-area: izq-abajo;
    @extend %elementosPortada;

    &:hover {
      @include hoverPortada (1.1, 10px, 5rem, 0.5s, 3rem);
    }
  }

  .der-abajo {
    grid-area: der-abajo;
    @extend %elementosPortada;

    &:hover {
      @include hoverPortada(1.1, -30px, 2rem, 0.5s, 3rem);
    }
  }



.der-borde {
  writing-mode: vertical-lr;
 .animacion__borde{
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-name: movimiento;
  overflow: hidden;
  transition-timing-function: linear;
  white-space: nowrap;
  

  @keyframes movimiento {
    from {
      margin-top: 100%;
    }
    to {
      margin-top: 0%;
    }
  }
}
}



.izq-borde {
  writing-mode: vertical-lr;
  .animacion__borde--3{
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-name: movimientoDos;
    overflow: hidden;
    transition-timing-function: linear;
    white-space: nowrap;
    @keyframes movimientoDos {
      from {
        margin-top: 0%;
      }
      to {
        margin-top: 100%;
      }
    }
  }
}
.borde-superior{
  .animacion__borde--2{
      animation-duration: 50s;
      animation-iteration-count: infinite;
      animation-name: movimientoTres;
      overflow: hidden;
      white-space: nowrap;
      transition-timing-function: linear;
      
      @keyframes movimientoTres {
        from {
          margin-left: 100%;
        }
        to {
          margin-left: 0%;
        }
      }
    }
}

.borde-inferior{
  .animacion__borde--4{
    animation-duration: 50s;
    animation-iteration-count: infinite;
    animation-name: movimientoCuatro;
    overflow: hidden;
    white-space: nowrap;
    transition-timing-function: linear;
    @keyframes movimientoCuatro {
      from {
        margin-left: 0%;
      }
      to {
        margin-left: 100%;
      }
    }
}
}


}


@media (max-width: 768px) {
  .portada {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $naranjaOscuro;
    width: 100vw;
    height: 100vh;

    .der-borde,
    .izq-borde,
    .borde-inferior,
    .borde-superior {
      display: none;
    }

 

    .izq-arriba {
      @include elementosQueryPortada;

      &:hover {
        @include hoverPortada(1, 0px, 0rem, 0s, xx-large);
      }
    }

    .der-arriba {
      @include elementosQueryPortada;

      &:hover {
        @include hoverPortada(1, 0, 0rem, 0.1s, xx-large);
      }
    }

    .izq-abajo {
      @include elementosQueryPortada;

      &:hover {
        @include hoverPortada(1, 0, 0rem, 0.1s, xx-large);
      }
    }

    .der-abajo {
      @include elementosQueryPortada;

      &:hover {
        @include hoverPortada(1, 0, 0rem, 0.1s, xx-large);
      }
    }

    .centro {
      width: 100vw;

      &:hover {
        width: auto;
        height: auto;
        transition-duration: 0.1s;
      }

      .logo__portada {
        width: 100%;
        height: 100%;
      }
    }
  }
}