.main__quienessomos {
  display: flex;
  grid-area: main__quienessomos;

  .quienessomos__div {
    height: 34rem;

    .iframe__quienessomos {
      height: 34rem;
      width: 40vw;
    }
  }

  .quienessomos__texto {
    padding-right: 4.375rem;
    padding-left: 5rem;
    text-align: center;
    padding-top: 2rem;
    color: white;
    padding-bottom: 1rem;
    background-color: $verde;

    .quienessomos__h2 {
      font-size: 3rem;
      padding-bottom: 2rem;
    }

    .quienessomos__parrafo {
      font-size: large;
    }
  }
}

@media (max-width: 768px) {
  .main__quienessomos {
    flex-direction: column-reverse;

    .quienessomos__texto {
      padding-top: 4rem;
      font-size: larger;
      padding-bottom: 2rem;

      .quienessomos__texto h2 {
        font-size: 4rem;
      }

      .quienessomos__texto .resaltador {
        font-size: 10rem;
        font-size: 1.4rem;
      }

      .quienessomos__parrafo {
        font-size: medium;
      }
    }

    .quienessomos__div {
      .iframe__quienessomos {
        width: 100vw;
      }
    }
  }
}

@media (max-width: 480px) {
  .main__quienessomos {
    .quienessomos__texto {
      padding-top: 4rem;
      font-size: large;
      padding-right: 2rem;
      padding-left: 2rem;

      .quienessomos__texto h2 {
        font-size: 3rem;
        padding-bottom: 0;
      }

      .quienessomos__texto .resaltador {
        font-size: 2rem;
      }

      .quienessomos__parrafo {
        font-size: small;
      }
    }

    .quienessomos__div {
      height: 17rem;

      .iframe__quienessomos {
        height: 17rem;
      }
    }
  }
}