$bordesPortada: (
    der-borde: der-borde,
    borde-superior: borde-superior,
    izq-borde: izq-borde,
    borde-inferior: borde-inferior
);


@each $clases, $grid in $bordesPortada {
    .#{$clases}{
        grid-area: $grid;
        border: solid 2px;
        background-color: $naranjaOscuro;
        font-family: $fuenteTitulos;
    }
};